/*!
 *	own ccs styling sheet
 *
 */

.free-buttons {
    float: right;
}

body {
    font-size: medium;
}

#validateButton,
#extend-button {
    float: none;
}

#btn-group {
    /*width: 102px;*/
    alignment-adjust: central;
}



#datepicker {
    width: 60px;
}

#taskName {
    width: 40%;
    min-width: 100px;
    max-width: 600px;
}

.formfields{
}

hr{
    margin-top: 0px;
}

.modal-header{
    color: #C64A48;
}

quote{
    font-family: sans-serif;
    font-style: italic;
}

.ok-button{
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: small;
}

.socialIcons{
    width: 90px;
    height: 90px;
    display: inline-block;
    background-image: url("../img/social_media_icons.png");
    background-repeat: no-repeat;
    margin: 20px 25px;
}

#facebookIcon{
    background-position: -125px -5px;
}

#googleIcon{
    background-position: -5px -5px;
}

#twitterIcon{
    background-position: -245px -6px;
}

#linkedinIcon{
    background-position: -365px -250px;
}

#wikiIcon{
    background-position: -245px -250px;
}

#skypeIcon{
    background-position: -365px -125px;
}

#googlePlusIcon{
    background-position: -5px -125px;
}

#rssIcon{
    background-position: -365px -5px;
}